<footer>
    <div class="f-info">
        <div class="f-info-icons">
         <a href="https://www.facebook.com/" style="text-decoration: none;color: black;">  <i class="fa-brands fa-facebook-f"></i></a>
         <a href="https://www.instagram.com/" style="text-decoration: none;color: black;">   <i class="fa-brands fa-square-instagram"></i></a>
         <a href="https://in.linkedin.com/" style="text-decoration: none;color: black;">  <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>