<% layout("/layouts/boilerplate")%>
<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
      <%console.log("an error occured")%>
        <h4 class="offset-2"><%=errorMessage%></h4>
      </div>
</div>
