<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head> -->
<% layout("/layouts/boilerplate")%>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <br>
    <h3 class="mt-3">Create a new Listing</h3>
   
  <!-- //needs validation is used and is part of bootstrap to mandatory fill the form -->
  <!-- image that we are providing is url encoded and to provide it in folder or file form we use encrypt -->
    <form method="POST" action="/listings"  class="needs-validation" novalidate enctype="multipart/form-data" >
        <label  for="title" class="form-label">Title</label>
        <input name="listing[title]" 
        placeholder="Enter a catchy title"
        type="text"
         class="form-control"
         required
         >
         <div class="valid-feedback">Title looks good!</div><br>
    
    
    <div class="mb-3">
    <label  for="description" class="form-label">Description</label> 
    <textarea name="listing[description]"     
    class="form-control" required></textarea>
    <div class="invalid-feedback">Please enter a short description</div></div>
  
    
<div class="mb-3">
<label for="image" class="form-label">Upload Listing Image</label>
<input name="listing[image]" 
placeholder="enter URL"
type="file"
class="form-control" ></div>

<div class="row">
    <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
    <input name="listing[price]" 
    placeholder="enter price"
    
    class="form-control"
     required>
    <div class="invalid-feedback">Please enter valid price</div></div>
    <div class="mb-3 col-md-8" >   
    <label for="country" class="form-label">Country</label>
    <input name="listing[country]" 
    placeholder="India"
    class="form-control" required>
    <div class="invalid-feedback">Please enter valid country</div>
    </div></div>

    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" 
        placeholder="enter location"
        class="form-control" required>
        <div class="invalid-feedback">Please enter valid location</div></div>     
        <div class="mb-3">
            <label for="category" class="form-label">Location</label>
            <input name="listing[category]" 
            placeholder="enter category"
            class="form-control" required>
    </div>
   
       
      <button class="btn btn-dark add-btn offset-10 mt-3">Add</button></form>
       </div></div> 
      
    <br>
    <br>
    <br>
   
<!-- </html> -->